@{
    ViewData["Title"] = "Nos Expertises";
}


<div class="container-xl">
    <div class="row" style="margin-top:134px;">
        <div class="col-12 text-center">
            <h2 class="x2-title-cornerStyle x2-title-cornerStyleRed x2-font--Title text-uppercase font-weight-light my-5">Nos <span class="font-weight-bold">rendez-vous</span></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 text-center my-4">
            <div style="max-width:400px;" class="mx-auto">
                <div id="Agenda">
                    <div class="month w-100"><a href="#" class="float-left text-white ml-3"><i class="fas fa-chevron-left"></i></a>Août<a href="#" class="float-right text-white mr-3"><i class="fas fa-chevron-right"></i></a></div>
                    <ul>
                        <li>LUN</li>
                        <li>MAR</li>
                        <li>MER</li>
                        <li>JEU</li>
                        <li>VEN</li>
                        <li>SAM</li>
                        <li>DIM</li>
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                        <li>6</li>
                        <li>7</li>
                        <li>8</li>
                        <li>9</li>
                        <li>
                            10<span class="badge badge-light x2-badge-agenda">2</span>
                        </li>
                        <li>11</li>
                        <li>12</li>
                        <li>13</li>
                        <li>14</li>
                        <li>
                            15<span class="badge badge-light x2-badge-agenda">4</span>
                        </li>
                        <li>16</li>
                        <li>17</li>
                        <li>18</li>
                        <li>19</li>
                        <li>
                            20<span class="badge badge-light x2-badge-agenda">1</span>
                        </li>
                        <li>21</li>
                        <li>22</li>
                        <li>23</li>
                        <li>24</li>
                        <li>25</li>
                        <li>26</li>
                        <li>27</li>
                        <li>28</li>
                        <li>29</li>
                        <li>30</li>
                        <li>31</li>
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-6 my-4">
            <div class="mb-2">
                <img src="img/icone-2.png" alt="" style="width:40px;" class="img-fluid float-left mr-2">
                <h5 class="mb-0 x2-color-red font-weight-bold">Thème rendez-vous</h5>
                <span class="font-weight-bold font-italic">Août 2020</span>
            </div>
            <div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaLorem ipsum dolor sit amet, consectetur...
                </p>
            </div>
            <a class="btn font-weight-bold x2-border-red x2-color-red x2-borderRadius-0" href="#">S'inscrire</a>
            <hr class="x2-border-red" style="transform: skew(0deg, -5deg); margin-bottom:3.5rem;">

            <div class="mb-2">
                <img src="img/icone-2.png" alt="" style="width:40px;" class="img-fluid float-left mr-2">
                <h5 class="mb-0 x2-color-red font-weight-bold">Thème rendez-vous</h5>
                <span class="font-weight-bold font-italic">Août 2020</span>
            </div>
            <div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaLorem ipsum dolor sit amet, consectetur...
                </p>
            </div>
            <a class="btn font-weight-bold x2-border-red x2-color-red x2-borderRadius-0" href="#">S'inscrire</a>
            <hr class="x2-border-red" style="transform: skew(0deg, -5deg); margin-bottom:3.5rem;">

            <div class="mb-2">
                <img src="img/icone.png" alt="" style="width:40px;" class="img-fluid float-left mr-2">
                <h5 class="mb-0 x2-color-red font-weight-bold">Thème rendez-vous</h5>
                <span class="font-weight-bold font-italic">Août 2020</span>
            </div>
            <div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaLorem ipsum dolor sit amet, consectetur...
                </p>
            </div>
            <a class="btn font-weight-bold x2-border-red x2-color-red x2-borderRadius-0" href="#">S'inscrire</a>
        </div>
    </div>
</div>


