@{
    ViewData["Title"] = "Articles";
}



<div class="container-xl">
    <div class="row" style="margin-top:134px;">
        <div class="col-12 px-0 text-center">
            <h2 class="x2-title-cornerStyle x2-title-cornerStyleRed x2-font--Title text-uppercase font-weight-light my-5">Nos <span class="font-weight-bold">actualités</span></h2>
        </div>

    <div class="row">
        <div class="col text-center my-4 px-0">
            <div style="position:relative;">
                <img src="img/single-actu.png" alt="" class="img-fluid">
                <div class="x2-titleSingleActu"><h3 class="mb-0">Titre de l’article : Lorem ipsum dolor sit amet</h3></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 my-2 text-justify">
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, <b>quis nostrud exerci tation</b> ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
            </p>
            <p>
                Lorem ipsum dolor sit amet, <b>cons ectetuer adipiscing elit</b>, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. <b>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan</b> et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
            </p>
            <div>
                <div class="float-left">
                    <span class="x2-color-red font-weight-bold font-italic">Télécharger les documents :</span>
                    <span class="x2-bg-red text-white border px-2 py-1">.pdf</span>
                    <span class="x2-bg-red text-white border px-2 py-1">.ppt</span>
                </div>

                <div class="float-right">
                    <span id="btnDrop1" class="p-2 m-1 text-white x2-bg-red" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-share-alt"></i>
                    </span>
                    <div class="dropdown-menu text-left" id="btnDroplist1">
                        <a class="dropdown-item">
                            <i style="font-size:1.3em;" class="x2-color-red fab fa-linkedin"></i> Linkedin
                        </a>
                        <a class="dropdown-item">
                            <i style="font-size:1.3em;" class="x2-color-red fab fa-twitter"></i> Twitter
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2 class="x2-font--Title text-uppercase font-weight-light my-5">Sur la même <span class="font-weight-bold">thématique</span></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 my-2">
            <div class="x2-bgActu">
                <div class="x2-actuBlock h-100">
                    <img src="img/shutterstock_751298770.png" alt="" class="img-fluid d-xl-block d-none under">
                    <img src="img/actu-block.png" alt="" class="img-fluid d-xl-block d-none over">
                    <div class="text-white x2-actuContent ml-md-auto text-center text-xl-left pt-xl-5">
                        <img src="img/shutterstock_751298770.png" alt="" class="img-fluid d-block d-xl-none">
                        <div class="p-4 p-xl-0">
                            <h5>Titre article</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</p>
                            <a class="btn x2-actuMore font-weight-bold font-italic text-white" href="actu-single.html">> Lire la suite</a>

                            <span id="btnDrop1" class="p-2 m-1 x2-actuShare" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-share-alt x2-color-red"></i>
                            </span>
                            <div class="dropdown-menu text-left" id="btnDroplist1">
                                <a class="dropdown-item">
                                    <i style="font-size:1.3em;" class="x2-color-red fab fa-linkedin"></i> Linkedin
                                </a>
                                <a class="dropdown-item">
                                    <i style="font-size:1.3em;" class="x2-color-red fab fa-twitter"></i> Twitter
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 my-2">
            <div class="x2-bgActu">
                <div class="x2-actuBlock h-100">
                    <img src="img/shutterstock_751298770.png" alt="" class="img-fluid d-xl-block d-none under">
                    <img src="img/actu-block.png" alt="" class="img-fluid d-xl-block d-none over">
                    <div class="text-white x2-actuContent ml-md-auto text-center text-xl-left pt-xl-5">
                        <img src="img/shutterstock_751298770.png" alt="" class="img-fluid d-block d-xl-none">
                        <div class="p-4 p-xl-0">
                            <h5>Titre article</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</p>
                            <a class="btn x2-actuMore font-weight-bold font-italic text-white" href="actu-single.html">> Lire la suite</a>
                            <span id="btnDrop2" class="p-2 m-1 x2-actuShare" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-share-alt x2-color-red"></i>
                            </span>
                            <div class="dropdown-menu text-left" id="btnDroplist2">
                                <a class="dropdown-item">
                                    <i style="font-size:1.3em;" class="x2-color-red fab fa-linkedin"></i> Linkedin
                                </a>
                                <a class="dropdown-item">
                                    <i style="font-size:1.3em;" class="x2-color-red fab fa-twitter"></i> Twitter
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>