@{
    ViewData["Title"] = "Carrière";
}

<div class="container-xl">
    <div class="row" style="margin-top:134px;">
        <div class="col-12 px-0 text-center">

        </div>
        <div class="swiper-container swiperHome">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img class="img-fluid" src="~/img/00.png" alt="Donnez de la puissance à vos projets" /></div>
                <div class="swiper-slide"><img class="img-fluid" src="~/img/01.png" alt="Donnez de la puissance à vos projets" /></div>
                <div class="swiper-slide"><img class="img-fluid" src="~/img/02.png" alt="Donnez de la puissance à vos projets" /></div>
                <div class="swiper-slide"><img class="img-fluid" src="~/img/03.png" alt="Donnez de la puissance à vos projets" /></div>
                <div class="swiper-slide"><img class="img-fluid" src="~/img/04.png" alt="Donnez de la puissance à vos projets" /></div>
                <div class="swiper-slide"><img class="img-fluid" src="~/img/05.png" alt="Donnez de la puissance à vos projets" /></div>
                <div class="swiper-slide"><img class="img-fluid" src="~/img/06.png" alt="Donnez de la puissance à vos projets" /></div>
            </div>
        </div>
    </div>
    <div class="container-xl">
        <div class="row">
            <div class="col-lg-5 offset-lg-1 text-center">
                <h2 class="x2-title-cornerStyle x2-title-cornerStyleRed x2-font--Title text-uppercase font-weight-light my-5">Vos <span class="font-weight-bold">Experts</span></h2>
                <p class="text-justify">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>

                <p class="text-justify">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.</p>

                <p class="text-justify">
                    doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit.
                </p>
            </div>
            <div class="col-lg-4 offset-lg-1 text-center">
                <h2 class="text-xl-left x2-title-cornerStyle x2-title-cornerStyleRed x2-font--Title text-uppercase font-weight-light my-5">Notre <span class="font-weight-bold">Mission</span></h2>
                <div class="row">
                    <div class="col-6 pb-5">
                        <a href="#"><img style="width:200px;" class="x2-imgFilter img-fluid px-md-5" src="img/ecouter.png" alt=""></a>
                        <div class="text-center text-uppercase pt-2">
                            vous<br />
                            <b>écouter</b>
                        </div>
                    </div>
                    <div class="col-6 pb-5">
                        <a href="#"><img style="width:200px;" class="x2-imgFilter img-fluid px-md-5" src="img/informer.png" alt=""></a>
                        <div class="text-center text-uppercase pt-2">
                            vous<br />
                            <b>informer</b>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 pb-5">
                        <a href="#"><img style="width:200px;" class="x2-imgFilter img-fluid px-md-5" src="img/conseiller.png" alt=""></a>
                        <div class="text-center text-uppercase pt-2">
                            vous<br />
                            <b>conseiller</b>
                        </div>
                    </div>
                    <div class="col-6 pb-5">
                        <a href="#"><img style="width:200px;" class="x2-imgFilter img-fluid px-md-5" src="img/accom.png" alt=""></a>
                        <div class="text-center text-uppercase pt-2">
                            vous<br />
                            <b>accompagner</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="x2-background-Associes mt-auto">
                    <h1 class="text-uppercase x2-font--Title text-center x2-titleAssocies w-100">experts-comptables <b>associés</b></h1>
                    <div class="swiper-container swiper-containerAssoc x2-swiperHeight">
                        <div class="swiper-wrapper text-center">
                            <div class="swiper-slide mt-auto mb-md-5 x2-swiperSlideHeight">
                                <div class="mx-auto x2-card-Associes">
                                    <img class="img-fluid" src="~/img/shutterstock_262720625.png" alt="" />
                                    <div class="x2--txtOverAssoc"><span class="mx-auto x2--lh-50px">Max AH-VOUN</span></div>
                                </div>
                            </div>
                            <div class="swiper-slide mt-auto mb-md-5 x2-swiperSlideHeight">
                                <div class="mx-auto x2-card-Associes">
                                    <img class="img-fluid" src="~/img/shutterstock_262720625.png" alt="" />
                                    <div class="x2--txtOverAssoc"><span class="mx-auto x2--lh-50px">Marcelino BUREL</span></div>
                                </div>
                            </div>
                            <div class="swiper-slide mt-auto mb-md-5 x2-swiperSlideHeight">
                                <div class="mx-auto x2-card-Associes">
                                    <img class="img-fluid" src="~/img/shutterstock_1512878978.png" alt="" />
                                    <div class="x2--txtOverAssoc"><span class="mx-auto x2--lh-50px">Anne DEFAUD LE GROS</span></div>
                                </div>
                            </div>
                            <div class="swiper-slide mt-auto mb-md-5 x2-swiperSlideHeight">
                                <div class="mx-auto x2-card-Associes">
                                    <img class="img-fluid" src="~/img/shutterstock_262720625.png" alt="" />
                                    <div class="x2--txtOverAssoc"><span class="mx-auto x2--lh-50px">Philippe HO YEN</span></div>
                                </div>
                            </div>
                            <div class="swiper-slide mt-auto mb-md-5 x2-swiperSlideHeight">
                                <div class="mx-auto x2-card-Associes">
                                    <img class="img-fluid" src="~/img/shutterstock_262720625.png" alt="" />
                                    <div class="x2--txtOverAssoc"><span class="mx-auto x2--lh-50px">Mehmoud OMARJEE</span></div>
                                </div>
                            </div>
                            <div class="swiper-slide mt-auto mb-md-5 x2-swiperSlideHeight">
                                <div class="mx-auto x2-card-Associes">
                                    <img class="img-fluid" src="~/img/shutterstock_262720625.png" alt="" />
                                    <div class="x2--txtOverAssoc"><span class="mx-auto x2--lh-50px">Vincent CHOW CHEUK</span></div>
                                </div>
                            </div>
                            <div class="swiper-slide mt-auto mb-md-5 x2-swiperSlideHeight">
                                <div class="mx-auto x2-card-Associes">
                                    <img class="img-fluid" src="~/img/shutterstock_1512878978.png" alt="" />
                                    <div class="x2--txtOverAssoc"><span class="mx-auto x2--lh-50px">Pascale DESPLAS</span></div>
                                </div>
                            </div>
                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="x2-title-cornerStyle x2-title-cornerStyleRed x2-font--Title text-uppercase font-weight-light my-5">L' <span class="font-weight-bold">actualité</span></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 my-2">
                <div class="x2-bgActu">
                    <div class="x2-actuBlock h-100">
                        <img src="~/img/shutterstock_751298770.png" alt="" class="img-fluid d-xl-block d-none under">
                        <img src="img/actu-block.png" alt="" class="img-fluid d-xl-block d-none over">
                        <div class="text-white x2-actuContent ml-md-auto text-center text-xl-left pt-xl-5">
                            <img src="~/img/shutterstock_751298770.png" alt="" class="img-fluid d-block d-xl-none">
                            <div class="p-4 p-xl-0">
                                <h5>Titre article</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</p>
                                <a class="btn x2-actuMore font-weight-bold font-italic text-white" href="#">> Lire la suite</a>

                                <span id="btnDrop1" class="p-2 m-1 x2-actuShare" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-share-alt x2-color-red"></i>
                                </span>
                                <div class="dropdown-menu text-left" id="btnDroplist1">
                                    <a class="dropdown-item">
                                        <i style="font-size:1.3em;" class="x2-color-red fab fa-linkedin"></i> Linkedin
                                    </a>
                                    <a class="dropdown-item">
                                        <i style="font-size:1.3em;" class="x2-color-red fab fa-twitter"></i> Twitter
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 my-2">
                <div class="x2-bgActu">
                    <div class="x2-actuBlock h-100">
                        <img src="~/img/shutterstock_751298770.png" alt="" class="img-fluid d-xl-block d-none under">
                        <img src="img/actu-block.png" alt="" class="img-fluid d-xl-block d-none over">
                        <div class="text-white x2-actuContent ml-md-auto text-center text-xl-left pt-xl-5">
                            <img src="~/img/shutterstock_751298770.png" alt="" class="img-fluid d-block d-xl-none">
                            <div class="p-4 p-xl-0">
                                <h5>Titre article</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</p>
                                <a class="btn x2-actuMore font-weight-bold font-italic text-white" href="#">> Lire la suite</a>
                                <span id="btnDrop2" class="p-2 m-1 x2-actuShare" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-share-alt x2-color-red"></i>
                                </span>
                                <div class="dropdown-menu text-left" id="btnDroplist2">
                                    <a class="dropdown-item">
                                        <i style="font-size:1.3em;" class="x2-color-red fab fa-linkedin"></i> Linkedin
                                    </a>
                                    <a class="dropdown-item">
                                        <i style="font-size:1.3em;" class="x2-color-red fab fa-twitter"></i> Twitter
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 text-center">
                <h2 class="x2-title-cornerStyle x2-title-cornerStyleRed x2-font--Title text-uppercase font-weight-light my-5">Nous <span class="font-weight-bold">rejoindre</span></h2>
                <p class="text-justify">
                    Praesent posuere erat blandit massa aliquet viverra. Aenean vitae tincidunt diam. Duis non nisi vitae est vestibulum placerat. Nam dignissim neque vitae felis hendrerit eleifend. Nulla dignissim elementum odio, in condimentum justo mollis ut. In hac habitasse platea dictumst. Sed suscipit libt laoreet massa ultrices. <b>Ut rutrum nisl in tempus maximus.</b>
                </p>
                <a class="btn font-weight-bold x2-color-red x2-border-red x2-borderRadius-0" href="#">Contactez-nous ! <i class="fas fa-paper-plane"></i></a>
            </div>
            <div class="col-lg-5 offset-lg-1 text-center">
                <h2 class="x2-title-cornerStyle x2-title-cornerStyleRed x2-font--Title text-uppercase font-weight-light my-5">Les <span class="font-weight-bold">témoignages</span></h2>
                <p class="x2-quoteTemoignages text-left font-italic">
                    Praesent posuere erat blandit massa aliquet viverra. Aenean vitae tincidunt diam. Duis non.
                </p>
                <p class="text-right font-italic">
                    <span class="font-weight-bold">Nom Prénom</span><br />
                    Fonction
                </p>
            </div>
        </div>
    </div>
</div>
