@{
    ViewData["Title"] = "Privacy";
}

<div class="container-xl">
    <div class="row" style="margin-top:134px;">
        <div class="col-12 px-0 text-center">

        </div>
        <div>
            <p> Ceci est ma page d'espace privé</p>
        </div>

    </div>
</div>